<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Hi this is the home page <%= "hello world".toUpperCase() %>  </h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vel eveniet eligendi nemo laborum? Dolores sit vitae id impedit? Hic,
         eum voluptatem! Quis eos dicta, suscipit sunt soluta debitis laudantium nam. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Assumenda modi ex atque enim!
 Voluptatem cumque,
 possimus ratione ut deleniti magni, suscipit molestias distinctio deserunt, aspernatur hic perspiciatis
  unde optio nisi.</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel quibusdam laudan
    tium blanditiis adipisci, quae dignissimos rerum dolores natus deserunt,
     quisquam quia amet quis illum excepturi quaerat. Cumque ab aut voluptas.</p>
     
</body>
</html>